@tailwind components;
@tailwind utilities;

.sigin-button .mantine-Button-inner{
    justify-content: left;
    align-items: left;
}

.sigin-button .mantine-Button-inner span {
    width: 100%;
}

.mantine-Text-root {
    color: white
}

body {
    background-color: #002464 !important;
}

.mantine-Navbar-root {
    background-color: #001438;
    border: 2px solid #70d8f366;
    border-radius: 5px;
    top: 15px;
    left: 15px;
}

@media only screen and (max-width: 440px) {
    .mantine-Navbar-root {
        width: 250px;
        left: 0px;
        top: 0px;
        height: 100vh
    }
}